body{
    background-color:#F5F5F5;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Background-blurred-circles.svg") ;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}

.main{
    margin-top: 75px;
}

h1{
  font-weight: 700;
  font-style: normal;
  font-size: 77px;
  line-height: 93,75px;   
}

h2{
  font-weight: 550;
  font-style: normal;
  font-size: 48px;
  line-height: 72px;
}

h3{
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 28,13px;
}

h4{
  font-weight: bold;
}

h5{
  font-weight: bold;
  font-style: normal;
  font-size: 170%;
  line-height: 28,13px;
}

p{
font-size: 24px;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 0px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.image-link {
  transition: transform 0.3s ease-in-out; /* Optional: add a smooth transition effect */
}

.image-link:hover {
  transform: scale(1.1); /* Increase the scale to 1.1 (10% larger) on hover */
}

#profielfoto{   
    margin: 0 auto;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin-left: 55px;
}

#tekst{
  margin: 0 auto;
  text-align:left;
  height: 520px;
  margin-top: 79px;
  margin-left:5px;
}

.link-with-arrow {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.text {
  margin-right: 5px;
}

.arrow {
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
  transition: left 0.3s ease-in-out;
}

.link-with-arrow:hover .arrow {
  left: calc(100% + 16px);
}

.rounded-button {
  border: none;
  border-radius: 32.5px;
  background-color: #506AC9;
  color: #fff;
  padding: 14px 35px;
  cursor: pointer;
  display: inline-flex;
  margin-left: 540px;
  margin-bottom: 50px;
}

.rounded-button:hover {
  background-color: #5d78dabb;
}

/* Example media query for responsiveness */
@media (max-width: 768px) {
  .rounded-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

footer {
  height: 201px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}


.footer-left {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 50px;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 20px;
}

.footer-right {
  text-align: left;
  color: #333;
  margin-left: 350px;
}

.fa-linkedin {
  color: #333;
}

.fa-instagram {
  color: #333;
}

.fa {
  padding: 20px;
  font-size: 80px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 4px;
  margin-bottom: 15px;
  border-radius: 100%;
}

#profile{
  margin: 0 auto;
  text-align:center;
  left: 505px;
  top: 146px;
  margin-top: 20px;
  margin-left: 109px;
  }

  #about{
    height: 600px;
}

  #werkfoto{
    margin: 0 auto;
    text-align:center;
    left: 505px;
    top: 146px;
    margin-top: 20px;
    margin-left: 0px;
  }

  #werk{
    height: 600px;
  }

  #tekenen{
    height: 400px;
    margin-top: 100px;
}

#tekenfoto{
  margin: 0 auto;
  text-align:right;
  left: 505px;
  top: 146px;
  margin-top: 20px;
  margin-left: 109px;
}

#filmfoto{
  margin: 0 auto;
    text-align:center;
    left: 505px;
    top: 146px;
    margin-top: 20px;
    margin-left: 0px;
  }

  #Films{
    height: 400px;
    margin-top: 90px;
}

#filmenfoto{
  margin: 0 auto;
  text-align:right;
  left: 505px;
  top: 146px;
  margin-top: 100px;
  margin-left: 109px;
  }

  #filmen{
    height: 600px;
    margin-top: 70px;
}

#filmfinder-header{
    height:600px;
}

#biebclub-header{
  height:600px;
}

#weassist-header{
  height:600px;
}

#opdrachtbeschrijving{
  height:600px;
  margin-left: 8px;
}

#onderzoekfoto{
  margin: 0 auto;
  text-align:center;
  left: 505px;
  top: 146px;
  margin-top: 20px;
  margin-left: 0px;
}

#onderzoek{
  height: 600px;
}

#onderzoek-biebclub{
  height: 800px;
}

#onderzoekfoto-biebclub{
  margin: 0 auto;
  text-align:center;
  left: 505px;
  top: 146px;
  margin-top: 120px;
  margin-left: 0px;
}

#concept{
  height: 600px;
}

#conceptfoto{
margin: 0 auto;
text-align:right;
left: 505px;
top: 146px;
margin-top: 20px;
margin-left: 108px;
}

#Createfoto{
  margin: 0 auto;
  text-align:center;
  left: 505px;
  top: 146px;
  margin-top: 20px;
  margin-left: 0px;
}

#Create{
  height: 550px;
}

#geleerd{
  height: 500px;
  text-align: center;
  margin: auto;
}

#art{   
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

#profiel{   
    margin: 0 auto;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.projecten {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -30px;
  }


  
  .image {
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 608px;
    height: 402px;
    opacity: 0;
    transition: .3s ease;
    background-color: #303030bd;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 7px;
    
  }
  
  .overlay_2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 585px;
    height: 386px;
    opacity: 0;
    transition: .3s ease;
    background-color: #303030bd;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 7px;
    
  }

  .image-container a {
    position:absolute;
    color: #fff;
    width: 551px;
    height: 363px;
    top: 0;
    left: 0;
    padding: 0;
    z-index:2;
    background: transparent;
    opacity:0;
    text-align:center;
    font-size:40px;  
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    z-index:1;
  }

  .image-container:hover a {
    opacity:1 ;
  }


  .projecten:hover .overlay{
      opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

#art_tekst{
    color: white;
    font-size: 15px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

img{
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.project{
Height: 500px;
text-align: center;
}

.project_2{
    Height: 420px;
    text-align: center;
}

#footer_2{
    color:white;
    height: 150px;
    width: 1296px;
    Text-align: center;
    background-color: #314a7c;
}

hr{
    color:#333;
    opacity: 1;
    margin: 0 auto;
    width: 17%;
}

.btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary{
    width: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
}
::selection{
  color: #fff;
}
.skill-bars{
  width: 600px;
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 15px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: red;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 80%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.jquery span{
  width: 65%;
}
.bar .progress-line.python span{
  width: 50%;
}

.bar .progress-line.samenwerken span{
    width: 80%;
}

.bar .progress-line.flexibel span{
    width: 90%;
}

.bar .progress-line.meedenkend span{
    width: 70%;
}

.bar .progress-line.creativiteit span{
    width: 90%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #314a7c;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -40px;
  right: 0;
  font-weight: 500;
  background: #314a7c;
  color: #fff;
  padding: 1px 8px;
  font-size: 20px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

#hard_skills{
    height: 320px;
}

#soft_skills{
    height: 400px;
}

#skills{
    margin: 0 auto;
    text-align: center;
}

#portfolio{
    height: 800px;
}

#weassist{
    text-align: center;
    height: 850px;
}
  
#opdracht{
    height:auto;
    width: 800px;
    text-align: left;
    margin: 0 auto;
}

#discover_fase{
    height:auto;
    width: 800px;
    text-align: left;
    margin: 0 auto;
}



#contact{
    height: 260px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

#mijn_project{
    text-align: left;
    margin-left: 10px;
}

* {
    box-sizing: border-box;
  }
  
  
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;
    height: 1400px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }