body{
    background-color:#1D2C48;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#profile{
margin: 0 auto;
text-align:center;
left: 505px;
top: 146px;
}

.main{
    margin-top: 75px;
}

.navbar{
    height: 100px;
    position: fixed;
    top:0;
    width: 100%;
    background-color:#1D2C48;
}

.navbar-brand{
    font-size: 140%
}

.nav-link{
    font-size:110%;
}

#profielfoto{   
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#profiel{   
    margin: 0 auto;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.projecten {
    position: relative;
    width: 100%;
    height: auto;
  }


  
  .image {
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #303030bd;
    
  }

  .image-container a {
    position:absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index:2;
    background: transparent;
    opacity:0;
    position:absolute;
    color: #fff;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    text-align:center;
    font-size:40px;  
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    z-index:1;
  }

  .image-container:hover a {
    opacity:1 ;
  }


  .projecten:hover .overlay{
      opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

img{
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#tekst{
    margin: 0 auto;
    text-align:left;
    height: 450px;
}

h1{
    font-weight: 700;
    font-style: normal;
    font-size: 400%;
    line-height: 93,75px;   
}

h2{
    font-weight: 550;
    font-style: normal;
    font-size: 48px;
    line-height: 72px;
}

h3{
    font-weight: 400;
    font-style: normal;
    font-size: 130%;
    line-height: 28,13px;
}

h4{
    font-weight: bold;
}

h5{
    font-weight: bold;
    font-style: normal;
    font-size: 170%;
    line-height: 28,13px;
}

.project{
Height: 500px;
text-align: center;
}

.project_2{
    Height: 600px;
    text-align: center;
}

#footer{
    color:white;
    height: 380px;
    width: auto;
    Text-align: center;
    background-color: #314a7c;
}

#footer_2{
    color:white;
    height: 150px;
    width: 1296px;
    Text-align: center;
    background-color: #314a7c;
}

hr{
    color:white;
    opacity: 1;
    margin: 0 auto;
    width: 17%;
}

.btn{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary{
    width: 80%;
}

#about{
    height: 750px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
}
::selection{
  color: #fff;
}
.skill-bars{
  width: 600px;
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 15px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: red;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.jquery span{
  width: 65%;
}
.bar .progress-line.python span{
  width: 50%;
}

.bar .progress-line.samenwerken span{
    width: 80%;
}

.bar .progress-line.flexibel span{
    width: 90%;
}

.bar .progress-line.meedenkend span{
    width: 70%;
}

.bar .progress-line.creativiteit span{
    width: 90%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #314a7c;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -40px;
  right: 0;
  font-weight: 500;
  background: #314a7c;
  color: #fff;
  padding: 1px 8px;
  font-size: 20px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "80%";
}
.progress-line.jquery span::after{
  content: "65%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}

.progress-line.samenwerken span:after{
    content: "80%";
}

.progress-line.flexibel span:after{
    content: "90%";
}

.progress-line.meedenkend span:after{
    content: "70%";
}

.progress-line.creativiteit span:after{
    content: "90%";
}



#hard_skills{
    height: 320px;
}

#soft_skills{
    height: 400px;
}

#skills{
    margin: 0 auto;
    text-align: center;
}

#portfolio{
    height: 800px;
}

.fa-facebook {  
    color: white;
  }

.fa-linkedin {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .fa {
    padding: 10px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
  }

  a:hover {
      color:red;
  }

#weassist{
    text-align: center;
    height: 850px;
}
  
#opdracht{
    height:auto;
    width: 800px;
    text-align: left;
    margin: 0 auto;
}

#discover_fase{
    height:auto;
    width: 800px;
    text-align: left;
    margin: 0 auto;
}

#opdrachtbeschrijving{
    height:200px;
}

#contact{
    height: 260px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

#mijn_project{
    text-align: center;
}